<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pago Exitoso</title>
    <script>
        window.onload = function() {
            // Mostrar el mensaje de éxito
            alert("¡Pago Exitoso! Tu pago ha sido registrado correctamente.");
            
            // Redirigir al cliente a la página principal después de un corto retraso
            setTimeout(function() {
                window.location.href = "https://granadosdavey.com/";
            }, 2000); // 2 segundos de espera antes de la redirección
        };
    </script>
</head>
<body>
    <h1>¡Pago Exitoso!</h1>
    <p>Gracias por agendar su cita. Nos comunicaremos pronto con usted.</p>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
